<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings file="App1.config"/>-->
  <appSettings>
    <add key="TFSUrl" value="" />
    <add key="TestPlanID" value="" />
    <add key="TeamProject" value="" />
    <add key="TestPointQuery" value="Select * from TestPoint where TestCaseId= '[#testcaseid#]'" />
    <add key="TestPointSuiteQuery" value="Select * from TestPoint where TestCaseId= '[#testcaseid#]' and SuiteId = '[#testsuiteid#]'" />
    <add key="EnableRawDataExport" value="0" />
    <add key="TestSuiteQuery" value="Select * from TestPoint where SuiteId in  ('[#testsuiteid#]')" />
    <add key="R" value="229" />
    <add key="A" value="255" />
    <add key="G" value="20" />
    <add key="B" value="0" />
    <add key="FontSize" value="small" />
    <add key="Theme" value="dark" />
    <add key="FirstRun" value="true" />
    <!--Project path on server and local computer-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>